<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar comentário</title>
</head>
<body>

    <!-- Elemento <header> da página, a parte introdutória da página podendo conter o título ou a logo. -->
    <header align="center" class="main-header">
        <h1>Criar Comentário</h1>
        <hr>
    </header>

    <!-- Elemento <section> representando a seção de formulário -->
    <section class="main-form-section">
        <form method="POST">
            
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Salvar</button>
        </form>
    </section>

</body>
</html>