{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Forum</title>
</head>
<body>

    <!-- Elemento <header> da página, a parte introdutória da página podendo conter o título ou a logo. -->
    <header class="main-header">
        <h1>Página principal</h1>
        <hr>
    </header>

    <!-- Elemento <nav> da página, área abaixo do <header> com um conjunto de links. -->
    <nav class="main-nav">
        <a href="{% url 'criarTopico' %}">
            <button><h3>Criar Tópico</h3></button>
        </a>
    </nav>

    <!-- 
    Um elemento <section> da página representando o grupo de tópicos da página, 
    pode ser identificado através do elemento heading ( <h2>Tópicos de discursões:<h2> ). 
    -->
    <section class="main-content-section">
        <h2>Tópicos de discursões:</h2>

        {% for topico in topicos %}
            <!-- Um elemento <article> da página, representando um tópico do forum. -->
            <article class="main-topics">
                <br>

                <!-- 
                Corpo principal do tópico, apresentando título, 
                nome do autor e data e hora da postagem 
                -->
                <a href="{% url 'topico' topico.pk %}">
                    <h3>{{topico.titulo}}</h3>
                </a>
                <h5>Postado por {{topico.autor}} - {{topico.horaPostagem}}</h5>

                <!-- Botão de atualizar o tópico. -->
                <a href="{% url 'atualizarTopico' topico.pk %}">
                    <button>Atualizar</button>
                </a> 

                <!-- Botão de deltear o tópico -->
                <a href="{% url 'deletarTopico' topico.pk %}">
                    <button>Deletar</button>
                </a>

            </article>
        {% endfor %}

    </section>

</body>
</html>