<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>

    <!-- Elemento <header> da página, a parte introdutória da página podendo conter o título ou a logo. -->
    <header align="center" class="main-header">
        <h1>Página principal</h1>
        <hr>
    </header>

    <!-- Elemento <nav> da página, normalmente uma área abaixo do <header> com um conjunto de links. -->
    <nav align="right" class="main-nav">
        <a href="{% url 'criarTopico' %}">
            <button><h3>Criar Tópico</h3></button>
        </a>
    </nav>

    <!-- 
    Elemento <section> da página, representa um grupo genérico de elementos 
    e pode ser identificado através de um elemento heading(no caso o h2). 
    -->
    <section class="main-content-section">
    <h2>Tópicos de discursões:</h2>

    <ul>
    {% for topico in topicos %}
        <br>
        <li>
            <a href="{% url 'topico' topico.pk %}"><h3>{{topico.titulo}}</h3></a>
            <h5>Postado por {{topico.autor}} - {{topico.horaPostagem}}</h5>
            <a href="{% url 'atualizarTopico' topico.pk %}"><button>Atualizar</button></a> <a href="{% url 'deletarTopico' topico.pk %}"><button>Deletar</button></a>
        </li>
    {% endfor %}
    </ul>

    </section>
    
</body>
</html>