<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <h1>Página principal</h1>

    <hr>
    <h2>Tópicos de discursões:</h2>

    <ul>
    {% for topico in topicos %}
        <br>
        <li>
            <a href="{% url 'topico' topico.pk %}"><h3>{{topico.titulo}}</h3></a>
            <h5>Postado por {{topico.autor}}</h5>
        </li>
    {% endfor %}
    </ul>

</body>
</html>