<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{topico.titulo}}</title>
</head>
<body>
    <div align="center">
        <h1>{{topico.titulo}}</h1><hr>
        <p>{{topico.autor}} - {{topico.horaPostagem}}</p><hr>
        <p>{{topico.conteudo}}</p><hr>
    
    <div align="left">
        <a href="{% url 'principal' %}"><button>Voltar</button></a> <a href="{% url 'criarComentario' %}"><button>Criar comentário</button></a>
    </div>
    
    </div>
    <h2>Comentários:</h2>
    <div align="left">
        
        {% for comentario in comentarios %}
            <br>
            <h4>{{comentario.autor}} - {{comentario.horaPostagem}}</h4>
            <p>{{comentario.conteudo}}</p>
        {% endfor %}

    </div>
</body>
</html>