{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{topico.titulo}}</title>
</head>
<body>

    <!-- Elemento <header> da página, a parte introdutória da página podendo conter o título ou a logo. -->
    <header class="main-header">
        <h1>{{topico.titulo}}</h1>
        <hr>
    </header>

    <!-- Um elemento <section> da página representando o grupo de informações sobre a postagem. -->
    <section align="center" class="main-about-section">
        <p>{{topico.autor}} - {{topico.horaPostagem}}</p>
        <hr>
    </section>

    <!-- Um elemento <section> da página representando o conteúdo do tópico. -->
    <section align="center" class="main-content-section">
        <p>{{topico.conteudo}}</p>
        <hr>
    </section>

    <!-- Elemento <nav> da página, área abaixo do <header> com um conjunto de links. -->
    <nav class="main-nav">

        <!-- Botão de voltar -->
        <a href="{% url 'principal' %}">
            <button><h3>Voltar</h3></button>
        </a>

        <!-- Botão de criar comentário -->
        <a href="{% url 'criarComentario' %}">
            <button><h3>Criar comentário</h3></button>
        </a>

    </nav>

    <!-- Um elemento <section> da página representando a seção de comentários. -->
    <section class="main-coment-section">
        <h2>Comentários:</h2>
            
        {% for comentario in comentarios %}
            <!-- Elemento <article> que representa um comentário. -->
            <article class="main-coments-article">
                <br>

                <!-- 
                Corpo principal do comentário apresentando nome do autor, 
                data e hora da postagem, e conteúdo do comentário. 
                -->
                <h4>{{comentario.autor}} - {{comentario.horaPostagem}}</h4>
                <p>{{comentario.conteudo}}</p>

                <!-- Botão de atualizar o comentário -->
                <a href="{% url 'atualizarComentario' comentario.pk %}">
                    <button>Atualizar</button>
                </a> 

                <!-- Botão de deletar o comentário. -->
                <a href="{% url 'deletarComentario' comentario.pk %}">
                    <button>Deletar</button>
                </a>

            </article>
        {% endfor %}

    </section>

</body>
</html>